@charset "UTF-8";
.hero .column {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero img {
  border-radius: 20px;
}

.btn-color {
  background: green !important;
}

.hero-cta {
  background: green;
  text-decoration: none;
  color: #fff !important;
  font-size: 1.6em;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 10px;
}

.hero-cta::after {
  content: ' →';
}

.hero-cta:hover {
  background: #242424;
  color: lightgreen !important;
}

.side-cta {
  background: #fff;
  text-decoration: none;
  color: green !important;
  font-size: 1.6em;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 10px;
}

.side-cta::after {
  content: ' →';
}

.side-cta:hover {
  background: #242424;
  color: lightgreen !important;
}

.hero-title {
  font-size: 4.6em;
  font-weight: 600;
  line-height: 95%;
}

.hero-title span {
  color: green;
}

.hero-subtitle {
  font-size: 1.6em;
  line-height: 120%;
  margin-top: 30px;
}

#about {
  padding: 100px 0px;
  background: #fafafa;
}

#offtakers {
  padding: 100px 0px;
  background: green;
}

#offtakers .sectional-title {
  color: lightgreen;
}

#offtakers .sectional-subtitle {
  color: #fff;
}

#offtakers .column {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#offtakers .column img {
  border-radius: 20px;
}

#offtakers .process-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 30px;
  margin-top: 100px;
  background: #fff;
  padding: 30px;
  border-radius: 20px;
}

#offtakers .process-box {
  padding: 30px;
  border-radius: 20px;
}

#offtakers .process-box img {
  margin-bottom: 10px;
  width: 60px;
}

#offtakers .process-box h2 {
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: 10px;
  color: green;
}

.sectional-title {
  font-size: 3.2em;
  font-weight: 600;
  margin-bottom: 20px;
  color: green;
}

.sectional-subtitle {
  font-size: 1.2em;
}

.traction-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 30px;
  margin-top: 100px;
}

.traction-box {
  color: #fff;
  border-left: 1px solid lightgreen;
  padding-left: 30px;
}

.traction-box h2 {
  font-size: 6em;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 90%;
}

.traction-box p {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 0px;
  line-height: 100%;
  color: lightgreen;
}

.process-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 30px;
  margin-top: 30px;
}

.process-box {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
}

.process-box img {
  margin-bottom: 20px;
}

.process-box h2 {
  font-weight: 600;
  font-size: 1.6em;
  margin-bottom: 10px;
}

#partners {
  padding: 100px 0px;
  background: #efefef;
}

#partners .partners-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 20px;
}

#partners .partner-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#partners .partner-box img {
  height: 80px;
}

@media only screen and (max-width: 600px) {
  .process-wrapper, .traction-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .partners-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  .traction-box {
    border-left: none;
    border-bottom: 1px solid lightgreen;
    padding: 0px 0px 30px 0px;
  }
  .hero-title {
    font-size: 3em;
  }
  .hero-subtitle {
    font-size: 1.5em;
  }
  #about, #offtakers, #partners {
    padding: 50px 30px;
  }
  .sectional-title {
    line-height: 110%;
  }
}
/*# sourceMappingURL=bd.css.map */